
 h1, h2,nav {
     font-family: Fruktur;
 }
h1{
    padding-top: 250px;
    padding-left: 920px;
    position: fixed;
    font-size: 22PX;
}
h2{
    padding-top: 270px;
    padding-left: 920px;
    position: fixed;
}
#menu ul li { display: inline; }
nav {
   padding-top: 250px;
    padding-left: 70px;
    position: fixed;
    font-size: 20PX;
    text-align: right;
    text-decoration-color: black;
}
body {
    background-image: url(foto/fundo.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
  }
