*{
    background-color: black;
    background-size: 100% 100%;
    border-color: white;
    ;
    
}
table {
    color: white;
    size: 40%;
    text-align: center;
    padding: 5px;
}
div{
    color: white;
}
