
       
 h1{
     padding-top: 30px;
     padding-left: 30px;
     font-family: 'Anton', sans-serif;
     font-style: strong;
     position: absolute;
 }    
 #menu ul li { display: inline; }
nav{       

    font-size: 20PX;
    text-decoration-color: black;
    display: inline;
   
      }
img{
    padding-top: 200px;
}
table{
border: 1px;
font-size: 10px;
} 